{% include 'header.html' %}

<section class="header1 cid-rooiBMy3lg mbr-parallax-background" id="header16-5">



  <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 align-center">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
          EvenTix</h1>

          <p class="mbr-text pb-3 mbr-fonts-style display-5">
            A locally made event platform made for everyone</p>
            <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="inde.html#content4-j">FIND EVENTS</a> <a class="btn btn-md btn-primary-outline display-4" href="inde.html#form1-c">CONTACT US</a></div>
          </div>
        </div>
      </div>

    </section>

    <section class="features4 cid-roomMqB1Yx" id="features4-f">




      <div class="container">
        <div class="media-container-row">
          <div class="card p-3 col-12 col-md-6 col-lg-4">
            <div class="card-wrapper media-container-row media-container-row">
              <div class="card-box">
                <h4 class="card-title pb-3 mbr-fonts-style display-7">
                  Customizable</h4>
                  <p class="mbr-text mbr-fonts-style display-7">
                    Every bit of our site is customizable for your needs as an event organizer. All you have to let us know is your goal.</p>
                  </div>
                </div>
              </div>

              <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                  <div class="card-box">
                    <h4 class="card-title pb-3 mbr-fonts-style display-7">
                      Affordable</h4>
                      <p class="mbr-text mbr-fonts-style display-7">
                        We charge an extremely low, fixed fee per ticket sold. This allows you to not only provide customers with great prices, but make a larger profit.</p>
                      </div>
                    </div>
                  </div>

                  <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper media-container-row">
                      <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                          Multi-Purpose</h4>
                          <p class="mbr-text mbr-fonts-style display-7">
                            As well as acting as a ticket-selling website, we have a shop for every event. Whatever merchandise you have, we can sell it.</p>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </section>

                <section class="mbr-section content4 cid-roooLPLrtq" id="content4-j">



                  <div class="container">
                    <div class="media-container-row">
                      <div class="title col-12 col-md-8">
                        <h2 class="align-center pb-3 mbr-fonts-style display-2">
                          **redacted**</h2>
                          <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">**redacted long sentence describing the magical event that this website was for**</h3>
                          <div class="mbr-section-btn align-center py-4"><a class="btn btn-primary-outline display-4" href="/events/1/tickets/">BUY TICKETS</a>
                            <a class="btn btn-black-outline display-4" href="#" target="_blank">VISIT WEBSITE</a></div>
                          </div>
                        </div>
                      </div>
                    </section>

                    <section class="mbr-section content5 cid-rooqxgG7IN" data-bg-video="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="content5-l">





                      <div class="container">
                        <div class="media-container-row">
                          <div class="title col-12 col-md-8">
                            <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1"><br><br><br><br></h2>



                          </div>
                        </div>
                      </div>
                    </section>

                    <section class="features18 popup-btn-cards cid-roornvR7S9" id="features18-n">




                      <div class="container">


                        <div class="media-container-row pt-5 ">
                          <div class="card p-3 col-12 col-md-6 col-lg-3">
                            <div class="card-wrapper ">
                              <div class="card-img">
                                <div class="mbr-overlay"></div>
                                <div class="mbr-section-btn text-center"><a href="/events/1/tickets/" class="btn btn-primary display-4">Buy Tickets</a></div>
                                <img src="/static/assets/images/background1.jpg" alt="Mobirise">
                              </div>
                              <div class="card-box">
                                <h4 class="card-title mbr-fonts-style display-7">
                                  Tickets</h4>
                                  <p class="mbr-text mbr-fonts-style align-left display-7">
                                    Buy tickets to see **redacted** at 7:00pm.&nbsp;</p>
                                  </div>
                                </div>
                              </div>
                              <div class="card p-3 col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                  <div class="card-img">
                                    <div class="mbr-overlay"></div>
                                    <div class="mbr-section-btn text-center"><div class="btn btn-secondary display-4">VIP Pass</div></div>
                                    <img src="/static/assets/images/background2.jpg" alt="Mobirise">
                                  </div>
                                  <div class="card-box">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                      VIP Backstage Pass</h4>
                                      <p class="mbr-text mbr-fonts-style display-7">
                                        An experience that will take you through the minds of the performers.</p>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="card p-3 col-12 col-md-6 col-lg-3">
                                    <div class="card-wrapper">
                                      <div class="card-img">
                                        <div class="mbr-overlay"></div>
                                        <div class="mbr-section-btn text-center"><div class="btn btn-success display-4">Workshop</div></div>
                                        <img src="/static/assets/images/background3.jpg" alt="Mobirise">
                                      </div>
                                      <div class="card-box">
                                        <h4 class="card-title mbr-fonts-style display-7">
                                          Workshops</h4>
                                          <p class="mbr-text mbr-fonts-style display-7">
                                            Learn from the very best and enhance your dancing skills.</p>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card p-3 col-12 col-md-6 col-lg-3">
                                        <div class="card-wrapper">
                                          <div class="card-img">
                                            <div class="mbr-overlay"></div>
                                            <div class="mbr-section-btn text-center"><div class="btn btn-info display-4">Apparel</div></div>
                                            <img src="/static/assets/images/background4.jpg" alt="Mobirise">
                                          </div>
                                          <div class="card-box">
                                            <h4 class="card-title mbr-fonts-style display-7">Apparel</h4>
                                            <p class="mbr-text mbr-fonts-style display-7">
                                              Purchase a T-Shirt to support this event and look good while doing it.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>

                                  <section class="mbr-section form1 cid-rooloVSQG3" id="form1-c">




                                    <div class="container">
                                      <div class="row justify-content-center">
                                        <div class="title col-12 col-lg-8">
                                          <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                                            CONTACT FORM
                                          </h2>
                                          <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">If you want your event on our platform or have some questions, feel free to contact us below.</h3>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="container">
                                      <div class="row justify-content-center">
                                        <div class="media-container-column col-lg-8" data-form-type="formoid">
                                          <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="UgyUUDtkrR2nTUJ/2XXHyAifOMQsl9O5a3lCIpjwlMG2p1KgErX4vyVk8gTzbxGcq5v4BxZR/qYDZLdslJuZQfgxeR9oWFs4ZACjVhhho3sEgW2Ot2tmV+BTF+QS0roh">
                                            <div class="row row-sm-offset">
                                              <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                              <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                              </div>
                                            </div>
                                            <div class="dragArea row row-sm-offset">
                                              <div class="col-md-6  form-group" data-for="name">
                                                <label for="name-form1-c" class="form-control-label mbr-fonts-style display-7">Name</label>
                                                <input type="text" name="name" data-form-field="Name" required="required" class="form-control display-7" id="name-form1-c">
                                              </div>
                                              <div class="col-md-6  form-group" data-for="email">
                                                <label for="email-form1-c" class="form-control-label mbr-fonts-style display-7">Email</label>
                                                <input type="email" name="email" data-form-field="Email" required="required" class="form-control display-7" id="email-form1-c">
                                              </div>

                                              <div data-for="message" class="col-md-12 form-group">
                                                <label for="message-form1-c" class="form-control-label mbr-fonts-style display-7">Message</label>
                                                <textarea name="message" data-form-field="Message" class="form-control display-7" id="message-form1-c"></textarea>
                                              </div>
                                              <div class="col-md-12 input-group-btn align-center"><button type="submit" class="btn btn-form btn-warning display-4">SEND FORM</button></div>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                  {% include 'footer.html' %}
