<section once="footers" class="cid-rooluk2ULL" id="footer6-d">
  <div class="container">
    <div class="media-container-row align-center mbr-white">
      <div class="col-12">
        <p class="mbr-text mb-0 mbr-fonts-style display-7 te">
          <a href="https://mobirise.co" class="text-warning">Website developed with Mobirise.co</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; © Copyright 2019 Eventix &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="/privacypolicy" class="text-warning">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
      </div>
    </div>
  </section>


  <script src="/static/assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  <script src="/static/assets/formoid/formoid.min.js"></script>

</body>
</html>
