{% include "header.html" %}
<style>
h5 {
    line-height:30px;
}
</style>
<div class="jumbotron" style="margin-top:50px; margin-bottom:0px">
    <div class="container">
	<h3>Privacy Policy</h3>
	<h5>Your privacy is important to us. It is out policy to respect your privacy regarding information we collect from you across our wesbite, Eventix.ca, and any other sites we own and operate.</h4>
	<br><br>
	<h4>Information we collect</h4>
	<br>
	<h5><b>When you checkout - </b> we collect your full name, email, and payment information, including your credit card number, expiration date, CVC, and zip code. Your full name <b>IS stored by us</b> to verify your identity when you pick up tickets. Your email and payment information is <b>NOT stored by us</b>. Instead, this information is stored by our payment provider (Stripe) which we have access to. Please read up on their privacy policy to get their side of the story (https://stripe.com/en-CA/privacy).</h5>
	<br><br>
	<h4>Our legal bases for processing</h4>
	<br>
	<h5><b>We process information lawfully, fairly, and transparently. We only collect and process information about you where:</b></h5>
	<h5> - it is necessary for us to provide you with tickets;</h5>
	<h5> - it is required for us to verify your identity (eg. at the event); or</h5>
	<h5> - we need to process your data to comply with a legal obligation.</h5>
	<h5> We retain information for our sales records and to facilitate additional support after your order is complete. If necessary, we may retain your personal information for our compliance with a legal obligation or in order to protect your vital interests or the vital interests of another natural person. </h5>
	<h5> Normally, any information collected will be removed within a month of the event for which your tickets were ordered occurring.</h5>
	<br>
	<br>
	<h4>Collecting and using information</h4>
	<br>
	<h5><b>We collect, hold, use, and disclose information for the following purposes:</b></h5>
	<h5> - to process your one-off payments;</h5>
	<h5> - to verify your identity;</h5>
	<h5> - for internal record keeping and administrative purposes;</h5>
	<h5> - to comply with our legal obligations and resolve any disputes that we may have</h5>
	<br>
	<br>
	<h4>Disclosure of personal information</h4>
	<br>
	<h5>Eventix.ca is supported by third-party providers to facility the provision of a transactional website. These include DNS management, web hosting, payment processing (Stripe), and event organizers.</h5>
	<h5>We will comply with government and law enforcement requests for data, as required by law, in connection with any actual or prospective legal proceedings, or in order to establish, exercise, or defend out legal rights.</h5>
	<h5>We <b>DO NOT</b> sell or rent your personal information to anyone, including marketers or third parties.</h5>
	<h5>However, we <b>DO</b> provide your full name and the tickets your bought to event organizers to verify your identity. and for their records.</h5>
	<br>
	<br>
	<h4>Your rights as our user</h4>
	<br>
	<h5><b>Choice and consent:</b> By providing your information to us, you consent to us collecting, holding, using and disclosing it in accordance with this privacy policy. You are free to refuse our request for information, with the understanding that we may be unable to provide you with generated Terms of Service and Privacy Policy statements without it. If you’re under 16 years of age, you must supply evidence of your parent or legal guardian’s knowledge and permission of you providing us with information.</h5>
	<h5><b>Information from third parties:</b> If we receive information about you from a third party, we’ll protect it as set out in this privacy policy. If you are a third party providing information about somebody else (eg. an agency operating on behalf of a client), you represent and warrant that you have that person’s consent to provide their information to us.</h5>
	<h5><b>Restrict:</b> You may choose to restrict the collection or use of your personal information by contacting us using the details on our website. If you ask us to restrict or limit how we process your personal information, we will let you know how the restriction affects your use of our website or products and services.</h5>
	<h5><b>Access and data portability:</b> You may request details of the personal information that we hold about you. You may request a copy of the personal information we hold about you. You may request that we erase the personal information we hold about you at any time. You may also request that we transfer this personal information to another third party.</h5>
	<h5><b>Correction:</b> If you believe that any information we hold about you is inaccurate, out of date, incomplete, irrelevant or misleading, please contact us using the details below, and we will take reasonable steps to rectify the issue.</h5>
	<h5><b>Notification of data breaches:</b> We will comply with laws applicable to us in respect of any data breach.</h5>
	<h5><b>Complaints:</b> If you believe that we have breached a relevant data protection law and wish to make a complaint, please contact us using the details below and provide us with full details of the alleged breach. We will promptly investigate your complaint and respond to you, in writing, setting out the outcome of our investigation and the steps we will take to deal with your complaint. You also have the right to contact a regulatory body or data protection authority in relation to your complaint.</h5>
	<br>
	<br>
	<h4>About this policy</h4>
	<br>
	<h5>This privacy policy only covers Eventix.ca's own collecting and handling of data. We only work with partners and third-party providers whose privacy policies align with ours, however we cannot accept responsibility or liability for their respective privacy practices.</h5>
	<h5>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices.</h5>
	<h5>At our discretion, we may update this policy to reflect current acceptable practices. We will take reasonable steps to let users know about significant changes via our website. Your continued use of this site after any changes to this policy will be regarded as acceptance of our practices around data and personal information.</h5>
	<br>
	<h4>If you have any concerns or questions about how we handle your data and personal information, feel free to contact us at eventixca@gmail.com. </h4>
	<br>
	<h5>This policy is effective as of 16 April 2019.</h5>
    </div>
</div>
{% include 'footer.html' %}
